h3 {
	font-size: 95%;
	font-weight: 400;
}

p {
	text-align: left;
	max-width: 40%;
	margin: 0 auto;
}

#quote {
	padding: 25px;
	font-style: italic;
}

#tribute-info{
    margin-top: 20px;
}

#wikipedia-link{
    
}

.timeline{
    width: 40%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}

.timeline span{
    font-weight: bold;
}

#img{
    width: 80%;
    max-width: 320px;
}

#img-div {
	background-color: rgba(255, 255, 255, 1);
	min-width: 230px;
	width: 35%;
	margin: 0 auto;
	padding: 20px 0px 35px 0px;
}

#main {
	background-color: rgba(220, 220, 220, 0.5);
	text-align: center;
	border-radius: 5px;
}