p {
	text-align: left;
	max-width: 40%;
	margin: 0 auto;
}

#tribute-info{
    margin-top: 20px;
}

#wikipedia-link{
    
}

.timeline{
    width: 40%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}

.timeline span{
    font-weight: bold;
}

#img{
    width: 80%;
    max-width: 320px;
}

#main {
	text-align: center;
}